* {
    box-sizing: border-box;
}

[class*="block-"] {
    margin-top: 3px;
    padding: 10px;
    background: #6c757d;
    min-height: 100px;
}

[class*="top"] {

    background: #4d5154;
}

.b6 {
    max-width: 20%;
    flex-basis: 20%;
}

.block-10, .block-11 {
    min-height: 100%;
}

@media screen and (max-width: 770px) {
    .block-10, .block-11 {
        min-height: 100px;
    }


}